# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Python # 
*.py[cod] 
*$py.class 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Environments 
.env 
.venv 
env/ 
venv/

# Visual Studio Code # 
.vscode/ 
.history